.container {
  margin: 3%;
  position: relative;
}

.container {
  /* background image */
  background-image: url("https://www.w3schools.com/css/img_lights.jpg");
}

.image {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.title {
  position: absolute;
  top: 17px;
  left: 50px;
  transform: translate(-50%, -50%);
  text-align: center;
}
